@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animating transitions on route change */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.fade-enter-done {
  opacity: 1;
}

/* customizing scroll bar */
::-webkit-scrollbar {
  background-color: #e2f4c510;
  width: 3px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e2f4c550;
  border-radius: 10px;
}
